@import url(https://fonts.googleapis.com/css?family=Open+Sans:300|Dancing+Script);



html, body {
  padding: 0;
  margin: 0;
}

body {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 48px;
  margin-top: 40vh;
}

section, footer {
  width: 100%;
  position: relative;
  float: left;
}

section {
  min-height: 100vh;
  text-align: center;
  background-color: #000;
}

section#landing {
  background: url(../assets/images/bg.png) no-repeat center center;
  background-size: cover;

  h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
  }

  .scroll {
    top: 15vh;
    position: relative;

    img {
      width: 64px;
      position: relative;
      -webkit-animation: scroll-animation 1.5s infinite; /* Safari 4+ */
      -moz-animation:    scroll-animation 1.5s infinite; /* Firefox 5+ */
      -o-animation:      scroll-animation 1.5s infinite; /* Opera 12+ */
      animation:         scroll-animation 1.5s infinite; /* IE 10+, Firefox 29+ */
    }
  }
}


footer {
  height: 80px;
  background-color: #dfdfdf;
}

@mixin scroll-animation {
  0%   { opacity: 0; top: -15px; }
  50%  { opacity: 1; }
  75%  { opacity: 0; }
  100% { opacity: 0; top: 0; }
}

@-webkit-keyframes scroll-animation {
  @include scroll-animation;
}
@-moz-keyframes scroll-animation {
  @include scroll-animation;
}
@-o-keyframes scroll-animation {
  @include scroll-animation;
}
@keyframes scroll-animation {
  @include scroll-animation;
}
